.modal-wrapper {
  color: $main;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1.5%;
  background-color: #303136;
  z-index: -2000;
  opacity: 0;
  transition: 0.3s;
}
.show-modal {
  z-index: 2000;
  opacity: 1;
}
.modal-container {
  width: 100%;
  height: 100%;
  padding: 3.333rem 6.222rem;
  border-radius: 1.111rem;
  background: url(../img/popup-bcgr.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}
.modal-closer {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}
.modal-title {
  font-weight: 900;
  font-size: 2.389rem;
  line-height: 3rem;
  color: $accent;
  margin-bottom: 3rem;
}
.content-wrapper {
  display: flex;
  // height: 100%;
  align-items: center;
}
.modal-text {
  width: 57%;
}
.modal-description {
  font-weight: 300;
  font-size: 1.222rem;
  margin-bottom: 2.778rem;
  width: 100%;
}
.service-list {
  display: flex;
  justify-content: space-between;
}
.service-col {
  width: 48%;
}
.service-title {
  display: flex;
  justify-content: space-between;
  h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.778rem;
    margin-bottom: 1.111rem;
    width: 48%;
  }
}
.service-item {
  font-size: 1rem;
  line-height: 1.778rem;
  position: relative;
  padding-left: 25px;
  &::before {
    content: "";
    background-image: url("../img/solid_check_string.svg");
    background-size: 0.8889rem 0.6667rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: 0.8889rem;
    height: 0.6667rem;
  }
}
.learn .service-col:nth-child(2) {
  margin-top: -40px;
  h3 {
    margin: 20px 0;
  }
}
.modal-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 43%;
  height: 100%;
  img {
		margin-bottom: 2.222rem;
		width: 20%;
  }
  .member-name {
    font-weight: 900;
    font-size: 1.222rem;
    line-height: 1.7rem;
  }
  .member-position {
    font-style: italic;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.778rem;
  }
  .member-email {
    font-weight: 300;
    font-size: 1.222rem;
    line-height: 1.7rem;
    a {
      font-weight: 900;
    }
  }
}
