@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "media";

.fixed {
  z-index: 1000;
  position: fixed;
}
.logo {
  width: 13%;
  margin: 2% 0 0 2%;
  cursor: pointer;
  opacity: 1;
  transition: 0.4s;
}
.dissappear {
  opacity: 0;
}
.nav {
  margin-right: 2%;
  right: 0;
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  ul :last-child {
    margin-bottom: 0;
  }
  li {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.875rem;
    a {
      color: $white;
      transition: 0.2s;
      font-size: 1.33rem;
      font-weight: 900;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      cursor: pointer;
      .circle {
        margin-left: 1.25rem;
        path {
          fill: $white;
          transition: 0.2s;
        }
      }
      &:hover {
        color: grey;
      }
      &:hover path {
        fill: grey;
      }
    }
  }
}
.for-contact-slide {
  top: 55%;
}
.nav li a.btn-active {
  color: $accent;
}
.nav li a .circle path.fill-circle {
  fill: rgb(50, 108, 199);
}
.main {
  background: url(../img/main-bcgr.jpg) no-repeat;
  align-items: center;
  .title {
    margin-left: 22%;
    .row1 {
      font-size: 3.167rem;
      line-height: 100%;
      text-transform: uppercase;
    }
    .row2 {
      font-size: 6.9rem;
      font-weight: 900;
      line-height: 100%;
      text-transform: uppercase;
    }
    .sub-title {
      font-size: 1.778rem;
      line-height: 140%;
      margin-top: 2.222rem;
      font-weight: 300;
    }
  }
}
.about-us {
  background: url(../img/about-us-bcgr.jpg) no-repeat;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .text {
    text-align: center;
    width: 56%;
    font-weight: 300;
    font-size: 1.778rem;
    line-height: 2.5rem;
    margin-top: 2.5rem;
  }
}
.services {
  background: url(../img/services-bcgr.jpg) no-repeat;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .serv-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 42%;
    min-width: 900px;
    margin-top: 4.444rem;
    .serv-item {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1.667rem 3.333rem;
      outline: none;
      cursor: pointer;
      &:hover circle {
        fill: $white;
      }
      &:hover path {
        fill: $accent;
      }
      svg {
        width: 100%;
        circle {
          fill: $accent;
          transition: 0.2s;
        }
        path {
          fill: $white;
          transition: 0.2s;
        }
      }
      .serv-title {
        text-align: center;
        margin-top: 2.222rem;
        font-weight: 900;
        font-size: 1.111rem;
        line-height: 140%;
        text-transform: uppercase;
      }
    }
  }
}
.career {
  background: url(../img/career-bcgr.jpg) no-repeat;
  justify-content: center;
  padding: 6% 6%;
  .career-img {
    width: 28%;
    margin-right: 40px;
    img {
      width: 100%;
      margin-bottom: 40px;
    }
    form {
      display: flex;
      justify-content: space-between;
      .btn-tertiary {
        color: $white;
        padding: 0;
        width: 58%;
        display: block;
        border: 2px solid $yellow;
        border-radius: 3px;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.611rem;
        text-transform: uppercase;
        transition: 0.2s;
      }
      .btn-tertiary:hover,
      .example-2 .btn-tertiary:focus {
        color: $main;
        background-color: $yellow;
      }
      .input-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      .input-file + .js-labelFile {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.833rem 0;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  .career-content {
    width: 38%;
    font-weight: 300;
    font-size: 1.333rem;
    line-height: 1.611rem;
    .slide-title {
      align-items: flex-start;
      margin-bottom: 2.222rem;
    }
    .fw-500 {
      font-weight: 500;
    }
    a {
      display: block;
      color: $accent;
      transition: 0.1s;
    }
    a:hover {
      color: $yellow;
    }
  }
}
.accredit {
  background: url(../img/accr-bcgr.jpg) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.222rem 0 0 0;
  .org-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.222rem;
    width: 68%;
    max-width: 1300px;
    .org-list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 17%;
      margin-bottom: 2.222rem;
      img {
        margin-bottom: 20px;
        width: 41%;
      }
      p {
        text-align: center;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.389rem;
        white-space: nowrap;
      }
    }
  }
  .membership {
    width: 100%;
    height: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303136cf;
    .memb-title {
      margin-top: 3.333rem;
      h2 {
        font-weight: 300;
        font-size: 1.333rem;
        line-height: 1.611rem;
      }
    }
    .memb-list {
      display: flex;
      justify-content: space-between;
      width: 68%;
      margin-top: 2.222rem;
      max-width: 1300px;
      .memb-list-item {
        width: 19%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 40%;
          margin-bottom: 1.111rem;
        }
        p {
          text-align: center;
          font-style: normal;
          font-weight: 100;
          font-size: 1rem;
          line-height: 140%;
        }
      }
    }
  }
}
.commerc {
  background: url(../img/kp-bcgr.jpg) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .contact-form {
    margin-top: 2.5rem;
    width: 56%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .contact-form__input-wrapper {
        width: 48%;
        .contact-form__input {
          height: 3.75rem;
          width: 100%;
        }
      }
    }
    .contact-form__input-wrapper {
      margin: 0 0 2.222rem 0;
      width: 100%;
      .contact-form__input {
        border-radius: 3px;
        padding-left: 1.111rem;
        border: 0;
        width: 100%;
        outline: none;
      }
      .contact-form__input:focus {
        box-shadow: 0 0 0 3px $yellow;
      }
      .contact-form__input.checkbox {
        width: auto;
      }
      .contact-form__input::placeholder {
        color: $gray;
        font-style: italic;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.6rem;
      }
      .contact-form__text {
        height: 6.667rem;
        resize: none;
        padding-top: 10px;
      }
    }
    .contact-form__checbox_description {
      font-size: 1.333rem;
      line-height: 1.944rem;
      font-weight: 500;
      margin-bottom: 1.944rem;
    }
    .chechbox-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 0.5556rem 0 0 1.111rem;
    }
    .checkbox + label {
      position: relative;
      padding: 0 0 0 3.111rem;
      cursor: pointer;
    }
    .checkbox + label:before {
      content: "";
      position: absolute;
      top: -40%;
      left: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 3px;
      border: 2px solid $white;
      box-sizing: border-box;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.222rem;
    }
    .checkbox:checked + label:before {
			background: url(../img/check.svg) center no-repeat;
			background-size: 2rem 2rem;
      content: '';
			border: 0;
			width: 2rem;
			height: 2rem;
    }
    .checkbox:focus + label:before {
      box-shadow: 0 0 0 3px $yellow;
    }
    [for="agreement"] {
      a {
        color: $accent;
        text-decoration: underline;
      }
    }
    .button {
      width: 11.11rem;
      height: 3.333rem;
    }
  }
}
.contacts {
  color: $white;
  font-size: 1rem;
  .contact-info {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    background-color: #303136cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .contact-info-container {
      width: 68%;
      max-width: 1300px;
      display: flex;
      justify-content: space-between;
      margin-top: 3.333rem;
      h2 {
        font-weight: bold;
        font-size: 1.111rem;
        line-height: 1.778rem;
        text-transform: uppercase;
        margin-bottom: 1.4rem;
      }
      p {
        font-weight: 100;
        line-height: 1.389rem;
        margin-bottom: 1.667rem;
      }
      a {
        font-weight: 100;
        font-size: 1rem;
        line-height: 1.222rem;
        color: $white;
        text-decoration: underline;
        transition: 0.2s;
        &:hover {
          color: $accent;
        }
        &:hover path {
          fill: $accent;
        }
      }
      .col1 {
        width: 24%;
        img {
          width: 41%;
          margin-bottom: 1.389rem;
        }
      }
      .col2 {
        width: 32%;
        path {
          transition: 0.2s;
          fill: $white;
        }
        svg {
          margin-right: 0.4rem;
        }
      }
      ul {
        list-style-type: none;
        margin-bottom: 1.667rem;
        li {
          font-weight: 100;
          line-height: 1.611rem;
          transition: 0.2s;
					cursor: pointer;
					width: 50%;
          &:hover {
            color: $accent;
          }
        }
      }
      .col3 {
        width: 41%;
        .info-title {
          margin: 0;
          font-weight: 500;
          line-height: 1.222rem;
        }
      }
    }
    .bsnsweb {
      width: 100%;
      background-color: #303136cf;
      height: 19%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.button {
  width: 37%;
  border-radius: 3px;
  border: 0;
  outline: none;
  background-color: $yellow;
  color: $main;
  transition: 0.2s;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.611rem;
  text-transform: uppercase;
}
.button:hover,
.button:focus {
  background-color: $white;
}
.slide-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #cfcfcf;
    margin: 1.111rem 0 0 0;
    border-radius: 3px;
  }
  h1 {
    font-weight: 900;
    font-size: 2.111rem;
    line-height: 2.111rem;
  }
}
.slide-wrapper {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  position: relative;
  z-index: 0;
}
.slide {
  display: flex;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  position: absolute;
  color: $white;
  overflow-y: hidden;
  top: 100%;
  left: 0;
  animation: moveDown 0.4s;
}

.to-top {
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  animation: moveUp 0.4s;
}
@keyframes moveUp {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}
@keyframes moveDown {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}

@import "modal";
